body {
  font-size: 1.2rem;
}

* {
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 10px 0;
}


.container {
  min-width: 320px;
  max-width: 640px;
  font-size: 1rem;
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0 $padding-small;
}
  
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}
