.personal-page__header {
  padding: $padding-small;
  @media screen and (max-width: $screen-mid) {
    padding: $padding-small $padding-small * 0.5;
  }
}

.personal-page__header-data {
  label {
    color: $color-light;
  }
  > * {
    display: block;
    font-size: 19.2px; /* fallback for IE8 */
    font-size: 1.2rem;
    text-align: center;
  }
}

.person-page__follow {
  text-align: right;
}

@media screen and (max-width: $screen-max) {
  .personal-page__header-data {
    > * {
      font-size: 12.8px; /* fallback for IE8 */
      font-size: 0.8rem;
    }
  }  
}

.personal-page__header-avatar {
  img {
    border-radius: 100%;
    overflow: hidden;
    width: 80px;
    height: 80px;
  }
  @media screen and (max-width: $screen-mid) {
    img {
      width: 60px;
      height: 60px;
    }
  }
}

.personal-page__header-detail {
  padding-left: 10px;
  margin-top: $padding-small * 0.5;
}

.personal-page__tab-tab {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid $bg-grey;
  border-bottom: 1px solid $bg-grey;
  > li {
    display: inline-block;
    width: 49.5%;
    text-align: center;
    &:first-child {
      border-right: 1px solid $bg-grey;
    }
  }
}