.pic-share__head--simple {
  padding: $padding-small;
}

.pic-share__avatar,
.pic-share__info {
  display: inline-block;
  vertical-align: middle;
}

.pic-share__follow {
  float: right;
}

.pic-share__avatar {
  img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
}

.pic-share__pic {
  img {
    min-width: 100%;
  }
}