.pic-share__head--simple {
  padding: $padding-small;
}

.pic-share__avatar,
.pic-share__info {
  display: inline-block;
  vertical-align: middle;
}

.pic-share__info {
  h3 {
    margin: 0 0 5px 0;
  }
}

.pic-share__follow {
  float: right;
  padding-top: 5px;
  .follow__plus {
    position: relative;
    top: -1px;
  }
}

.pic-share__avatar {
  margin-right: $padding-small;
  img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
}

.pic-share__pic {
  position: relative;
  overflow-x: hidden;
  img {
    width: 100%;
  }
}

.pic-share__share {
  padding: $padding-small;
}

@media screen and (max-width: 330px) {
  .pic-share__share {
    padding: 10px;
  }
}

.pic-share__times {
  color: $color-muted;
  .kizz {
    margin-right: 5px;
  }
}

.pic-share__times, .pic-share__kizz {
  > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.pic-share__count {
  border-radius: 100%;
  background: $color-info;
  color: $color-white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.pic-share__kizz {
  height: 30px;
  line-height: 30px;
  .kizz-text {
    margin-left: 15px;
  }
}

@media screen and (max-width: $screen-mid) {
  .pic-share__kizz {
    .kizz-text {
      margin-left: 5px;
    }
  }
  .pic-share__avatar img {
    width: 45px;
    height: 45px;
  }
  
  .pic-share__info {
    h3 {
      font-size: 12px;
    }
    .pic-share__times {
      font-size: 12px;
    }
  }
}

.share-user__list {
  overflow-y: hidden;
  height: 30px;
  li {
    padding: 0 5px;
    display: inline-block;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
}

.pic-share__comment {
  padding: 0 $padding-small;
}

.pic-share__comment-item {
  .comment__user {

  }
  .comment__content {
    color: $color-muted;
  }
}

.hot-pic__title {
  padding-left: $padding-small;
  h2 {
    border-left: 3px solid $color-info;
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}