html, body {
  height: 100%;
}

.timeline {
  &.main {
    margin-bottom: 0;
    height: 100%;
  }
  > .container {
    background: url('../images/timeline-bg.png') no-repeat top center #bcb196;
    background-size: 100%;
    height: 100%;
    overflow: hidden;
  }
  .timeline-user {
    text-align: center;
    padding: 50px 0 20px 0;
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 2px solid $color-white;
    }
    h1 {
      font-size: 12px;
      color: $color-white;
      margin: 10px 0;
    }

  }
}

.timeline-list {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 300px;
  position: relative;
}

.timeline-item {
  background: $color-white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  width: 190px;
  display: none;
  min-height: 250px;
  
  .timeline-date {
    position: absolute;
    top: 390px;
    width: 190px;
    text-align: center;
    color: $color-white;
  }
  
  .timeline-item__pic {
    img {
      width: 100%;
      max-width: 100%;
      border-radius: 5px 5px 0 0;
    }
  }
  
  &.timeline-item--left {
    display: block;
    position: absolute;
    top: 30px;
    left: -120px;
    opacity: 0.7;
    .timeline-date {
      text-align: right;
      opacity: 0.5;
    }
  }
    
  &.timeline-item--right {
    display: block;
    position: absolute;
    top: 30px;
    right: -120px;
    opacity: 0.7;
    .timeline-date {
      text-align: left;
      opacity: 0.5;
    }
  }

  &.timeline-item--current {
    display: block;
    margin: 0 auto;
    opacity: 1;
    .timeline-date {
      text-align: center;
      top: 420px;
    }
  }
  
  &.timeline-item--placeholder {
    text-align: center;
    margin: 0 auto;
    background-color: #ccc;
    .timeline-item__content {
      height: 110px;
      padding: 40px 0;
      border-radius: 5px 5px 0 0;
      background-color: #fff;
    }
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
    }
    p {
      color: #cccccc;
    }
  }
}

.timeline-line {
  padding: 80px 0;
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) and (min-width: 361px) {
  .timeline-line {
    padding: 60px 0;
  }
  
  .timeline-item {
    &.timeline-item--right {
      right: -150px;
      .timeline-date {
        top: 370px;
      }
    }
    &.timeline-item--left {
      left: -150px;
      .timeline-date {
        top: 390px;
      }
    }
    &.timeline-item--current {
      .timeline-date {
        top: 390px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .timeline {
    .timeline-user {
      padding: 20px 0 10px 0;
    }
  }
  
  .timeline-item {
    &.timeline-item--right {
      right: -150px;
      .timeline-date {
        top: 310px;
      }
    }
    &.timeline-item--left {
      left: -150px;
      .timeline-date {
        top: 310px;
      }
    }
    &.timeline-item--current {
      .timeline-date {
        top: 340px;
      }
    }
  }
  
  .timeline-line {
    padding: 10px 0;
  }
}