$bg-grey = #efefef
$color-primary = #93cddd
$color-seconday = #f8817a
$color-info = #06677f
$color-text = #333333
$color-muted = #999999
$color-light = #666666
$color-white = #ffffff

$padding-medium = 30px
$padding-small = 20px;

$screen-max = 640px
$screen-min = 320px

@media screen and (max-width: $screen-max) {
  $padding-small = 10px;
}

.kizz {
  background: url('../images/kiss-icon.png');
  width: 30px;
  height: 30px;
  display: inline-block;
}

.kizz-text {
  color: $color-seconday;
}