.app-promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f5f6f6;
  width: 100%;
  img {
    width: 90px;
    height: 90px;
  }
  .container > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .app-promotion__logo {
    margin-right: 20px;
  }
  
  .app-promotion__description {
    width: 60%;
    p {
      font-size: 1.2rem;
      font-size: 19.2px;
    }
  }
  
  .app-promotion__button {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: $color-text;
    font-size: 1.2rem;
    font-size: 19.2px;
    font-weight: bold;
  }
  
  .container {
    padding: $padding-small;
  }
}