.app-promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  background: darken(#f5f6f6, 5%);
  width: 100%;
  opacity: 0.92;
  img {
    width: 90px;
    height: 90px;
  }
  .container > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .app-promotion__logo {
    padding-right: 20px;
  }
  
  .app-promotion__description {
    p {
      margin-bottom: 5px;
    }
  }
  
  .app-promotion__link {
    position: absolute;
    right: 10px;
    top: 40px;
  }
  
  .app-promotion__button {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: $color-text;
    font-size: 19.2px;
    font-size: 1.2rem;
    font-weight: bold;
    
  }
  .container {
    padding: $padding-small;
    position: relative;
  }
}

@media screen and (max-width: $screen-max) {
  .app-promotion {
    img {
      width: 45px;
      height: 45px;
    }
    .app-promotion__button {
      font-size: 0.8rem;
      padding: 0 20px;
      height: 36px;
      line-height: 36px;
    }
    .app-promotion__link {
      padding-top: 10px;
      top: 10px;
    }
    .container {
      padding: $padding-small * 0.5;
    }
  }
}