.app-promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f5f6f6;
  width: 100%;
  img {
    width: 90px;
    height: 90px;
  }
  .container > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .app-promotion__logo {
    margin-right: 20px;
  }
  
  .app-promotion__description {
    
  }
  
  .app-promotion__link {
    float: right;
    padding-top: 20px;
  }
  
  .app-promotion__button {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: $color-text;
    font-size: 19.2px;
    font-size: 1.2rem;
    font-weight: bold;
    
  }
  .container {
    padding: $padding-small;
  }
}

@media screen and (max-width: $screen-max) {
  .app-promotion {
    img {
      width: 60px;
      height: 60px;
    }
    .app-promotion__button {
      font-size: 1rem;
      padding: 0 15px;
      height: 36px;
      line-height: 36px;
    }
    .app-promotion__link {
      padding-top: 10px;
    }
  }
}