header {
  background: $bg-grey;
  color: $color-white;
  padding: 8px $padding-medium;
}
@media screen and (max-width: $screen-mid) {
  header {
    padding: 8px $padding-small;
  }
}

a.logo {
  display: inline-block;
  img {
    height: 20px;
  }
}