.bo-list {
  .bo-item {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    a {
      display: inline-block;
    }
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    &.pic-share__count {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
    }
  }
}

.pic-info {
  padding: 0 5px;
  .pic-share__comment {
    padding: 5px;
  }
  .pic-share__comment-item {
    font-size: 10px;
  }
}