.pic-share__tag-item {
  position: absolute;
  color: $color-white;
  font-size: 10px;
  line-height: 26px;
  
  .tag-icon--text {
    background: rgba(0, 0, 0, 0.9);

    display: inline-block;
  }
  .tag-icon--container {
    position: relative;
    white-space: nowrap;
    &:before {
      background-repeat: no-repeat;
      background-size: 12px 26px;
      width: 12px;
      height: 26px;
      content: ' ';
    }
  }
  &.tag--left {
    .tag-icon--text {
      border-radius: 5px 0 0 5px;
      padding-left: 8px;
    }
    .tag-icon--container:before {
      background-image: url('../images/right_tag_arrow.png');
      float: right;
    }
    .tag-icon {
      right: 0;
      .tag-icon--bg {
        right: -16px;
      }
      .tag-icon--heart {
        right: -15px;
      }
    }
  }
  &.tag--right {
    .tag-icon--text {
      border-radius: 0 5px 5px 0;
      padding-right: 8px;
    }
    .tag-icon--container:before {
      background-image: url('../images/left_tag_arrow.png');
      float: left;
    }
    .tag-icon {

      .tag-icon--bg {
        left: -16px;
      }
      .tag-icon--heart {
        left: -15px;
      }
    }
  }
}

@keyframes pound {
  from { transform: none; }
  45% { transform: scale(1.2); }
  50% { transform: scale(0.9); }
  55% { transform: scale(1.1); }
  to { transform: none; }
}

.tag-icon {
  position: absolute;
  .tag-icon--bg {
    position: absolute;
    background: url('../images/brand_black_bg.png') no-repeat;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    top: 4.5px;
    opacity: 0.6;
  }
  .tag-icon--heart {
    position: absolute;
    background: url('../images/tag_icon.png') no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    top: 5.5px;
    -webkit-animation: pound 1.95s infinite;
  }
}