// variables
@import "pages/styles/variables"

// base style
@import "pages/styles/base"

// Partials
@import "components/styles/header"
@import "components/styles/footer"

// page style
@import "pages/styles/home"
