// variables
@import "pages/styles/variables"

// base style
@import "pages/styles/base"

// Partials
@import "components/styles/header"
@import "components/styles/footer"
@import "components/styles/image"
@import "components/styles/wechat"
@import "components/styles/picture"

// page style
@import "pages/styles/home"
@import "pages/styles/pic-share"
@import "pages/styles/app-download"
@import "pages/styles/timeline"
